header.header.header--index
   .header__inner.container
      .header__menu.menu
         a.btn-circle.menu__burger(href="#" aria-label="открыть меню")
            i.icon.icon-burger
         nav.menu__nav
            ul.menu__list
               li.menu__item
                  a.menu__link.btn.btn--light(href="#") Пациентам
               li.menu__item
                  a.menu__link.btn.btn--light(href="#") Обучение
               li.menu__item
                  a.menu__link.btn.btn--light(href="#") Контакты
         .menu__manage
            a.btn.menu__manage-btn(href="#") Оставить заявку
      section.header__hero.hero
         .hero__inner
            .hero__top
               h1.hero__title
                  span.hero__title-pic Центр коррекции зрения #[img.hero__title-logo(src="images/elements/logo.png", alt="логотип" width="95" height="88")]
                  span.hero__title-colour.hero__title-right Натальи Ринской
               p.hero__cite «Изменяя мир, начни с того, чтобы увидеть его чётко!»
            .hero__bottom
               p.hero__bottom-text.
                  Первая клиника современной оптометрии, в которой вы сможете решить безоперационно проблемы, связанные с двоением, косоглазием, амблиопией, аккомодационными нарушениями, эксцентричной фиксацией и другими бинокулярными нарушениями
               .hero__bottom-content
                  img.hero__bottom-img(src="images/header/glasses.png", alt="очки" width="568" height="317")