.header
   margin-bottom: 100px
   &--index
      margin-bottom: 35px
   &__inner
      min-height: 781px
      padding: 16px
      background: rgba(lightgray, 50%)
      border-radius: 40px
      .header--index &
         min-height: 662px
         background-image: url('../images/header/index-fon.png')
         background-repeat: no-repeat
         background-size: cover
         background-position: center
   &__menu
      margin-bottom: 35px
