.chapter
   &__top
      margin-bottom: 20px
   &__lead
      padding: 24px 36px
      font-size: 28px
      font-weight: 500
      background: var(--accent)
      color: #fff
      border-radius: 100px
   &__grid
      grid-gap: 20px
   &__link
      min-height: 234px
      border-radius: 40px
      display: flex
      position: relative
      overflow: hidden
      background: var(--sectionBg)
   &__text
      width: 335px
      position: absolute
      z-index: 1
      right: 0
      top: 0
      bottom: 0
      background: rgba(176, 176, 176, 0.08)
      backdrop-filter: blur(14px)
      font-size: 24px
      font-weight: 500
      display: flex
      justify-content: center
      align-items: center
   &__img
      display: flex
      align-items: flex-end
      img
         margin-left: 22px
      &-eye
         width: 400px
         