.hero
   &__inner
      padding: 20px
   &__title
      font-weight: 400
      font-size: 84px
      span
         display: block
      &-colour
         color: var(--accent)
      &-right
         padding-right: 26px
         text-align: right
         display: block
      &-logo
         display: inline-block
         width: 95px
   &__cite
      width: 100%
      max-width: 417px
      margin-top: -66px
      font-size: 24px
      line-height: 120%
      font-weight: 500
   &__bottom
      margin-top: 166px
      display: flex
      justify-content: space-between
      &-text
         max-width: 518px
         font-size: 18px
         line-height: 155%
      &-content
         width: 635px
         position: relative
      &-img
         width: 100%
         position: absolute
         top: -160px
         right: 0