.swiper
   &-button
      &-prev,
      &-next
         width: 52px
         height: 52px
         margin: 0
         border-radius: 50%
         background: #fff
         color: var(--accent)
         display: inline-flex
         justify-content: center
         align-items: center
         cursor: pointer
         position: static
         transition: background var(--transition-duration) ease, color var(--transition-duration) ease
         &:hover,
         &:focus
            background: var(--hover-color)
            color: #fff
         &::after
            font-size: 12px
            font-weight: bold

.animation
   transition: all .3s ease-out