.optics
   &__item
      border-radius: 40px
      overflow: hidden
      background: var(--sectionBg)
   &__title
      margin-bottom: 32px
   &__info
      width: 100%
      max-width: 632px
      height: 100%
      padding: 54px 36px 36px
      display: flex
      flex-direction: column
      position: relative
      z-index: 1
      p
         margin-bottom: 20px
         font-size: 18px
   &__btn
      min-width: 250px
      margin-top: auto
      align-self: start
   &__img
      padding-bottom: 71.5%