.team
   &__grid
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 24px
   &__photo
      min-height: 342px
      padding-bottom: 102%
   &__info
      padding-top: 20px
      padding-right: 30px
   &__name
      margin-bottom: 8px
      font-size: 20px
      font-weight: 500
   &__pro
      font-size: 14px
      color: var(--gray)

.section
   &--team
      padding-top: 100px
      border-top: 1px solid rgba(#111, 0.1)