@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ckrbm7');
  src:  url('fonts/icomoon.eot?ckrbm7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ckrbm7') format('truetype'),
    url('fonts/icomoon.woff?ckrbm7') format('woff'),
    url('fonts/icomoon.svg?ckrbm7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e90b";
}
.icon-insta:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-burger:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-cite:before {
  content: "\e904";
}
.icon-external:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e907";
}
.icon-telegram:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\ea92";
}
